/*  Colors
-------------*/
/* Fonts
-------------*/
/* Opacity
------------*/
/* Usage: set opacity across all browsers easily
/* .faded-text {
/*  @include opacity(0.8);
/* }
*/
/* Clearfix
-------------*/
/* Usage: use clearfix with ease!
/* .container-with-floated-children {
/*  @extend %clearfix;
/* }
*/
/* Breakpoints
----------------*/
/* Usage: easily set breakpoints for small, medium, and large screens
Either pass the px number through individually, or set it as a variable
/* .sidebar {
/*   width: 60%;
/*   float: left;
/*   margin: 0 2% 0 0;
/*   @include bp-small(400px) {
/*     width: 100%;
/*     float: none;
/*     margin: 0;
/*   }
/* }
/* $size-small: 400px;
/* .sidebar {
/*   width: 60%;
/*   float: left;
/*   margin: 0 2% 0 0;
/*   @include bp-small($size-small) {
/*     width: 100%;
/*     float: none;
/*     margin: 0;
/*   }
/* }
*/
/* border-box
---------------*/
/* Usage
/* Quickly add border-box with all vendor prefixes
/*
/* body {
/*     @include border-box
/* }
*/
/*  Colors
-------------*/
/* Fonts
-------------*/
/* Opacity
------------*/
/* Usage: set opacity across all browsers easily
/* .faded-text {
/*  @include opacity(0.8);
/* }
*/
/* Clearfix
-------------*/
/* Usage: use clearfix with ease!
/* .container-with-floated-children {
/*  @extend %clearfix;
/* }
*/
/* Breakpoints
----------------*/
/* Usage: easily set breakpoints for small, medium, and large screens
Either pass the px number through individually, or set it as a variable
/* .sidebar {
/*   width: 60%;
/*   float: left;
/*   margin: 0 2% 0 0;
/*   @include bp-small(400px) {
/*     width: 100%;
/*     float: none;
/*     margin: 0;
/*   }
/* }
/* $size-small: 400px;
/* .sidebar {
/*   width: 60%;
/*   float: left;
/*   margin: 0 2% 0 0;
/*   @include bp-small($size-small) {
/*     width: 100%;
/*     float: none;
/*     margin: 0;
/*   }
/* }
*/
/* border-box
---------------*/
/* Usage
/* Quickly add border-box with all vendor prefixes
/*
/* body {
/*     @include border-box
/* }
*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  background: #6C8D40;
  color: #fff;
  text-align: center;
  padding: .75em;
  max-width: 100%; }
  .header h1 {
    font-size: 3rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 769px) {
      .header h1 {
        font-size: 2rem;
        overflow: hidden; } }
  .header h2 {
    font-size: 1rem;
    color: #B89BDD;
    font-family: "PT Serif";
    font-style: italic;
    overflow: hidden;
    white-space: pre-line; }

.nav {
  background-color: #B89BDD;
  max-width: 100%; }
  .nav a {
    color: #fff; }

/* fix for IE and Firefox responsiveness */
.pure-g {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.pure-g > div[class*="pure-u-"] {
  padding: .5em;
  margin: .5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pure-g [class*="pure-u"] {
  font-family: serif; }

.pure-g {
  font-family: serif; }

.content {
  max-width: 100%;
  font-size: 1.5em;
  overflow: hidden;
  white-space: pre-line;
  text-align: center; }

.panel {
  border: 1px solid #B89BDD;
  padding: 2%;
  border-radius: 5px; }

.float-left {
  padding: 2%;
  display: inline-block; }
